body {
  background-color: black;
}
.header {
  background-color: rgb(209, 180, 15);
  color: black;
  display:flex;
  justify-content:space-between;
}
h2 {
  color: white;
  margin: 40px;
}
p {
  color: white;
  margin: 40px;
}

.video-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content:center;
}
