body { background-color:black;
   background-image: url(background-image.jpg);
  overflow-x:hidden
}
.header {
  background-color: rgba(185, 136, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
}
h2 {
  color: white;
  margin: 40px;
}
p {
  color: white;
}

.video-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.photoFrame {
  border: groove 10px rgb(185, 136, 0);
  padding:10px;
  background-color:white
}
.list-group {
    width:100%;
}

.container img{width:300px; margin:20px;}
.testamonyPictures img{width:90%;
margin-top:10px;
}
.fade-in-card{
  opacity:50%;
  transition:opacity 1s;
}
.fade-in-card:hover {
  opacity: 100%;
  transition: opacity 1s;
}

